*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    z-index: 5;
}
.active{
    z-index: 10;
}
#menu{
    width: 600px;
    height: 40px;
  /*   background: red; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -300px;
    z-index: 10;

}
#menu li a{
    display: block;
    width: 100px;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    background: #fff;
    line-height: 30px;
    text-align: center;
    color: #000;
    font-size: 16px;

}
#menu .active a{
   background: #001DD2; 
   color: #fff;
}
.section{
    position: relative;
    font-size: 20px;

}
.shade,.shade1{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left:0;
}
.shade1{
    background: rgba(0,0,0,0.8);
}


/*第一页*/
.section:first-child .bg1{
    width: 100%;
    height: 100%;
    background:url("../img/bj (1).jpg") no-repeat top center;

}
.section:first-child .bg11{
    width:400px;
    height: 200px;
    /* background: red; */
    /* display: flex;
    justify-content: space-between; */
    position: absolute;
    top: 100px;
    left:50%;
    margin-left: -200px;
    transition: all 1s;
    /*transform: translateY(-30px);*/
}
 .active .bg11{

     transform: translateY(0px);
 }
.bg11{

    transform: translateY(100px);
}
.bg11 h3{
    width:100%;
    font-size:50px;
    letter-spacing:15px; 
    text-align: center;
    line-height: 90px;
    animation: color  3s infinite;
}
@keyframes color{
    0%{
        color: rgba(0, 36, 255,1.0);
    }
    20%{
        color: rgba(0, 36, 255,0.5);
    }
    40%{
        color: rgba(255, 255, 255,1);
    }
    60%{
        color: rgba(255, 255, 255,1);
    }
    80%{
        color: rgba(0, 35, 255,0.5);
    }
    100%{
        color: rgba(0, 36, 255,1.0);
    }
}
.bg11 span{
    display: block;
    width:100%;
    font-size:30px;
    font-weight: bold;
    letter-spacing:15px; 
    text-align: center;
    line-height: 50px;
    color: #fff;
}
.bg11 p{
    width:100%;
    font-size:16px;
       font-weight: 700;
    letter-spacing:15px; 
    text-align: center;
    line-height: 30px;
    color: #fff;
}

.section:first-child .bg12{
    width: 1200px;
    height: 200px;
    background: url('../img/bg13.png') no-repeat center center;
    position: absolute;
    bottom: 20px;
    left:50%;
    margin-left: -600px;

    transition: all 1s;

}
.active .bg12{
    opacity: 1;
    transform: translateY(0px);
}
.bg12{
     opacity: 0;
    transform: translateY(300px);
}
.section:first-child .bg13{
    width: 1500px;
    height: 300px;
     background: url('../img/bg12.png') no-repeat center center;
    position: absolute;
    bottom: 60px;
    left:50%;
    margin-left: -750px;
    transition: 1.5s;
}
.active .bg13{
     opacity: 1;
    transform: translateY(0px);
}
.bg13{
     opacity: 0;
    transform: translateY(500px);
}
.section:first-child .bg14{
    width: 300px;
    height:200px;
    
    position: absolute;
    top: 50px;
    left:50px;
    transition: all 1s;
}
.bg14 img{
    width: 100%;
    opacity: 0.8;
}
.active .bg14{
    transform: scale(1);
}
.bg14{
    transform: scale(0);
}
.section:first-child .bg15{
    width: 300px;
    height:200px;
    border-radius: 6px;
    position: absolute;
    top: 50px;
    right:50px;
    transition: all 1s;
}
.active .bg15{
    transform: scale(1);
}
.bg15{
    transform: scale(0);
}
.bg15 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.8;
}





/*第二页*/
.section:nth-child(2) .bg2{
    width: 100%;
    height: 100%;
    background:url("../img/bj (6).jpg") no-repeat top center;
    background-size: 100% 100%;

}
.section:nth-child(2) .bg21{
    width: 400px;
    height: 400px;
  /*  background: url('../img/bg1-5.png') no-repeat top center; */
    border-radius: 50%;
    position: absolute;
    top:50%;
    margin-top: -200px;
    left:150px;
    transition: all 2s;
}
.active .bg21{
    animation: bg21 1s;
}
.bg21{
    animation: none;
}
@keyframes bg21 {
    0%{
        transform: translateX(-150px);

    }
    100%{
        transform: translateX(0);
    }
}
.bg21 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.section:nth-child(2) .bg22{
    width: 600px;
    height: 300px;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    right: 250px;
    transition: all 1s;
}
.active .bg22{
    transform: translateX(0px)
}
.bg22{
    transform: translateX(150px)
}
.bg22 h3{
    font-size: 36px;
    line-height: 50px;
}
.bg22 p{
    height: 150px;
    font-size: 16px;
    line-height: 30px;

}





/*第三页*/
.section:nth-child(3){

    z-index: 10;
}
.section:nth-child(3) .bg3{
    width: 100%;
    height: 100%;
    background:url("../img/bj (3).jpg") no-repeat top center;
    background-size: 100% 100%;

}
.section:nth-child(3) .bg31{
    width: 800px;
    height: 100px;
 
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -400px;
    transition: all 1s;
}
.active .bg31{
    opacity: 1;
    transform: translateY(0);
}
.bg31{
    opacity: 0;
    transform: translateY(100px);
}

.title{
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    color: #fff;
}
.section:nth-child(3) .bg32{
    width: 1000px;
    height: 250px;
    /* background: red; */
    position: absolute;
    bottom: 150px;
    left: 50%;
    margin-left: -500px; 
    display: flex;
    justify-content: space-between; 
    transition: 1s; 
}
.section:nth-child(3) .bg32 li{
    width: 200px;
    height: 100%;
    background: #fff;
   /*  box-sizing: border-box; */
    padding: 10px;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.5);
    
}
.active .bg32{
    transform: translateY(0);
}
.bg32{
    transform: translateY(-200px);
}
.active .bg32 li{
    
    transform: translate(0,0);
    opacity: 1;
}
.active .bg32 .bg32-1{
    transition: all 1s;
}
 .bg32-1{
    transform: translateX(-500px);
    opacity: 0;
 }
 .active .bg32 .bg32-2{
    transition: all 1.5s;
}
 .bg32-2{
    transform: translateY(500px);
    opacity: 0;
 }
 .active .bg32 .bg32-3{
    transition: all 2s;
}
 .bg32-3{
    transform: translateX(500px);
    opacity: 0;
 }
.active .bg32 .bg32-4{
    transition: all 2.5s;
}
 .bg32-4{
    transform: translateY(500px);
    opacity: 0;
 }
.tubiao{
    width: 100px;
    height: 100px;
    margin: 0 auto;
  /*   background: red; */

}
.tubiao .iconfont{
    font-size: 48px;
    display: block;
    text-align: center;
    line-height: 100px;
    color: #000;
}
.active .bg32 li p{
    font-weight: 600;
}

/*第四页*/
.section:nth-child(4) .bg4{
    width: 100%;
    height: 100%;
    background:url("../img/bj (4).jpg") no-repeat top center;
    background-size: 100% 100%;

}
.section:nth-child(4) .bg41{
    width: 1200px;
    height: 400px;
    /* background: red; */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}
.bg41 li{
    float: left;
    width:400px;
    height: 200px;
    box-sizing: border-box;
    
   
}
.bg41-1,.bg41-2{
    border-right: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
}
.bg41-3{
    border-bottom: 1px dotted #fff;
}
.bg41-4,.bg41-5{
    border-right: 1px dotted #fff;
}

.bg41 li .case{
    width: 200px;
    height: 150px;
    /* background: blue; */
    margin: 25px auto;
    transition: all 1s;
  
}
.active .case{
    opacity: 1;
    transform: translate(0, 0);
}
.case-1{
      opacity: 0;
    transform: translate(-600px, -400px);
}
.case-2{
       opacity: 0;
    transform: translate(0, -400px);
}
.case-3{
       opacity: 0;
    transform: translate(600px, -400px);
}
.case-4{
       opacity: 0;
    transform: translate(-600px, 400px);
}
.case-5{
       opacity: 0;
    transform: translate(0px, 400px);
}
.case-6{
       opacity: 0;
    transform: translate(600px, 400px);
}
.case img{
    width: 100%;
    height: 100%
}




/*第五页*/
.section:nth-child(5) .bg5{
    width: 100%;
    height: 100%;
    background:url("../img/bj (5).jpg") no-repeat top center;
    background-size: 100% 100%;

}

.bg5-1,.bg5-3{
    width: 300px;
    height: 500px;
    /* background: blue; */

    position: absolute;
    top: 50%;
    margin-top: -250px;
    
    transition: all 1s;
    
}
.bg5-1{
    left: 50px;
    transform: translateX(-600px);
}
.bg5-3{
    opacity: 0.8;
    border-radius: 10px;
    right: 50px;
    transform: translateX(600px);
}
.active .bg5-1{
    transform: translateX(0px);
}
.active .bg5-3{
    transform: translateX(0px);
}
.bg5-2{
    width: 700px;
    height: 500px;
    background: #ccc;
    box-sizing: border-box;
    padding: 20px 15px;
    opacity: 0.8;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    transition: all 1s;
    transform: scale(0);
}
.active .bg5-2{
    transform: scale(1);
}
.bg5-2 input,.bg5-2 textarea{
    display: block;
    width: 650px;
    height: 50px;
    font-size: 24px;
    margin-bottom: 15px;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    outline: none; 
}
.bg5-2 textarea{
   
    height: 240px;
    font-size: 16px;
    padding: 5px;
    resize:none;
}
.bg5-2 button{
    width: 100px;
    height: 40px;
    font-size: 24px;
    font-family: '楷体';
    border-radius: 8px;
    background: #FFF;
    cursor: pointer;
   border: none;
   outline: none;
}

.content{
    width: 100%;
    height: 100%;  
    padding: 0 5px;
    box-sizing: border-box;  
}
.icon-item{
    width: 100%;
    /* height: 120px; */
    margin-top:30px; 
    font-size: 24px;
    color: #fff;
}
.icon-item .iconfont{
    font-size: 24px;
    color: #fff;
}


/*第六页*/
.section:last-child .bg6{
    width: 100%;
    height: 100%;
    background:url("../img/bj (6).jpg") no-repeat top center;
    background-size: 100% 100%;

}